/*Powered By 飞龙K7君，侵权必究 BV13BgTetESs*/
html, body {
    margin: 0;
    padding: 0;
}
/*Powered By 飞龙K7君，侵权必究 BV13BgTetESs*/
a {
    color: black;
    text-decoration: none;
}
/*Powered By 飞龙K7君，侵权必究 BV13BgTetESs*/
@font-face {
    font-family: "Segoe Boot Semilight";
    src: url("/font/segoe_slboot.ttf");
}
/*Powered By 飞龙K7君，侵权必究 BV13BgTetESs*/
.loading {
    position: absolute;
    left: 50%;
    top: 40vh;
    transform: translate(-50%, -50%);
    width: 50dvw;
    height: 50dvw;
    max-width: 256px;
    max-height: 256px;
}
/*Powered By 飞龙K7君，侵权必究 BV13BgTetESs*/
.loading img {
    width: 50dvw;
    height: 50dvw;
    max-width: 256px;
    max-height: 256px;
}
/*Powered By 飞龙K7君，侵权必究 BV13BgTetESs*/
#loader {
    color: white;
    font-family: "Segoe Boot Semilight";
    font-size: 2.5rem;
    margin-top: 40%;
}
/*Powered By 飞龙K7君，侵权必究 BV13BgTetESs*/